<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">New Driver</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Drivers</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Our Drivers</a>
                </li>
                <li class="breadcrumb-item active">New Driver</li>
            </ol>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body wizard-content">
                <h4 class="card-title">Add New Driver</h4>
                <h6 class="card-subtitle">Field Marked <code>*</code> is mandatory.</h6>
                <form action="#" class="tab-wizard wizard-circle">
                    <!-- Step 1 -->
                    <h6>Personal Info</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="firstName1">Name</label>
                                    <input type="text" class="form-control" id="firstName1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="lastName1">Mobile Number</label>
                                    <input type="text" class="form-control" id="lastName1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="lastName1">Email</label>
                                    <input type="text" class="form-control" id="lastName1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="lastName1">DOB</label>
                                    <input type="text" class="form-control" id="lastName1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="emailAddress1">Blood Group</label>
                                    <input type="email" class="form-control" id="emailAddress1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Address</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Area</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Pin Code</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="emailAddress1">Aadhar Number</label>
                                    <input type="email" class="form-control" id="emailAddress1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Pan No</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 3 -->
                    <h6>Vehicle Info</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Driving Licence No</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Driving Licence Expiry Date</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Rc Book No</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Vehicle</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Vehicle Name</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Vehicle No</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Referral By</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>Bank Info</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Bank Name</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Bank Account No</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Bank IFSC Code</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">UPIId</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                        </div>
                    </section>
                    <h6>Upload Documents</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Aadhar Front Image</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Aadhar Back Image</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Driving Licence Front Image</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Driving Licence Back Image</label>
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">RC Book Front Image</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">RC Book Back Image</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Driver Image</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Vehicle Image</label>
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Pan Image</label>
                                    <input type="file">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="phoneNumber1">Insurance Image</label>
                                    <input type="file">
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>