<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Send SMS & Notifications</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Masters</a>
                </li>
                <li class="breadcrumb-item active">Send SMS & Notifications</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">SMS & Notifications</h4>
                <h6 class="card-subtitle">Manage your sms & notifications</h6>
                <form class="mt-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">To Whom?</label>
                        <select id="exampleInputEmail1" class="form-control">
                            <option value="">- Nothing Select -</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Title</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Description</label>
                        <textarea class="form-control"></textarea>
                        <div class="row">
                            <div class="col-3">
                                <div class="custom-control custom-checkbox mr-sm-2 mb-3">
                                    <input type="checkbox" class="custom-control-input" id="checkbox0" value="check">
                                    <label class="custom-control-label" for="checkbox0">SMS</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="custom-control custom-checkbox mr-sm-2 mb-3">
                                    <input type="checkbox" class="custom-control-input" id="checkbox1" value="check">
                                    <label class="custom-control-label" for="checkbox1">Notification</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DATA</h4>
                <h6 class="card-subtitle">Listing of our customers and drivers.</h6>
                <div class="table-responsive">
                    <table class="table table-bordered table-stripped">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" />
                                </th>
                                <th>Name</th>
                                <th>Mobile Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    Jagannath Maharana
                                </td>
                                <td>
                                    +91 8460827893
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>