<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Our Customers</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Masters</a>
                </li>
                <li class="breadcrumb-item active">Our Customers</li>
            </ol>
        </div>
    </div>
</div>


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">DATA</h4>
            <h6 class="card-subtitle">Listing of our customers.</h6>
            <div class="table-responsive">
                <table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Profile</th>
                            <th>Name & Mobile</th>
                            <th>Signup Via & Email</th>
                            <th>Wallet Point</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <img src="http://eliteadmin.themedesigner.in/demos/bt4/assets/images/users/1.jpg"
                                    alt="Ashvin Maharana" width="50" height="50">
                            </td>
                            <td>
                                <div><b>Ashvin Maharana</b></div>
                                <small class="card-subtitle">+91 8460827893</small>
                            </td>
                            <td>
                                <div><b>Google</b></div>
                                <small class="card-subtitle">ashvinmaharana007@gmail.com</small>
                            </td>
                            <td>
                                <a href="#">
                                    <i class="icons-Coins text-warning"></i> 0
                                </a>
                            </td>
                            <td>
                                <a href="" class="badge badge-success">Active</a>
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs" title="Order History"><i
                                        class="fas fa-history"></i></a>
                                <a href="#" class="btn btn-dark btn-xs" title="Ashvin Maharana Log"><i
                                        class="fas fa-info"></i></a>
                                <a href="#" class="btn btn-danger btn-xs" title="Delete"><i
                                        class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>