<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Customer Logs</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Masters</a>
                </li>
                <li class="breadcrumb-item active">Customer Logs</li>
            </ol>
        </div>
    </div>
</div>


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">DATA</h4>
            <h6 class="card-subtitle">Listing of our customer logs.</h6>
            <div class="table-responsive">
                <table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Vehicle Name</th>
                            <th>Pick Address</th>
                            <th>Drop Address</th>
                            <th>Total Amount</th>
                            <th>Total Weight</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                Two Wheeler
                            </td>
                            <td>
                                Karmyogi Society 3 Near Police Colony, Pandesara Surat.
                            </td>
                            <td>
                                Udhna Darwaza, Maan Darwaja, Sagrampura, Surat, Gujarat.
                            </td>
                            <td>
                                <i class="fas fa-rupee-sign text-warning"></i> 0
                            </td>
                            <td>
                                5Kg
                            </td>
                            <td>
                                19-02-2021 07:40 AM
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>