<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Our Drivers</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Masters</a>
                </li>
                <li class="breadcrumb-item active">Our Drivers</li>
            </ol>
            <a href="newdriver" class="btn btn-info d-none d-lg-block m-l-15">
                <i class="fa fa-plus-circle"></i> New Driver
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DATA</h4>
                <h6 class="card-subtitle">List of your drivers.</h6>
                <div class="table-responsive">
                    <table class="table table-bordered table-stripped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name & Mobile</th>
                                <th>Vehicle Name & Area</th>
                                <th>Email</th>
                                <th>On Trip</th>
                                <th>Duty Status</th>
                                <th>Login Access</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <div><b>Jagannath Maharana</b></div>
                                    <small class="card-subtitle">+91 8460827893</small>
                                </td>
                                <td>
                                    <div><b>2 Wheeler</b></div>
                                    <small class="card-subtitle">Pandesara</small>
                                </td>
                                <td>
                                    Jagannath@gmail.com
                                </td>
                                <td>
                                    <a href="#">
                                        <div class="badge badge-dark">Off Trip</div>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <div class="badge badge-success">On Duty</div>
                                    </a>
                                </td>
                                <td>
                                    <a href="#">
                                        <div class="badge badge-success">Active</div>
                                    </a>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Do Action
                                        </button>
                                        <div class="dropdown-menu" style="z-index: 100;">
                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Order History</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Payment History</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Fund Raised</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Remove FCM</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>