<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Notification Settings</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="javascript:void(0)">Masters</a>
                </li>
                <li class="breadcrumb-item active">Notification Settings</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DATA</h4>
                <h6 class="card-subtitle">Manage your settings.</h6>
                <div class="table-responsive">
                    <table class="table table-bordered table-stripped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title & Description</th>
                                <th>SMS</th>
                                <th>Email</th>
                                <th>Notification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <div><b>Payment received</b></div>
                                    <small class="card-subtitle">While complete order payment received send to
                                        admin</small>
                                </td>
                                <td>
                                    <div class="bt-switch">
                                        <input type="checkbox" checked data-size="small" />
                                    </div>
                                </td>
                                <td>
                                    <div class="bt-switch">
                                        <input type="checkbox" checked data-size="small" />
                                    </div>
                                </td>
                                <td>
                                    <div class="bt-switch">
                                        <input type="checkbox" checked data-size="small" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>