<script src="scripts/area.js"></script>
<div ng-controller="ServingAreaController">
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Serving Area</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)">Masters</a>
                    </li>
                    <li class="breadcrumb-item active">Serving Area</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{selectedId=="0"?"Add Serving Areas":"Edit Serving Areas"}}</h4>
                    <h6 class="card-subtitle">Manage your serving areas</h6>
                    <form class="mt-4" ng-submit="addEdit()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Area Name</label>
                            <input type="text" class="form-control" ng-model="title" required />
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-dark" ng-click="clearAll()">Clear</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">DATA</h4>
                    <h6 class="card-subtitle">Listing of your serving areas.</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered table-stripped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Area Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="area in areaList">
                                    <td>{{$index+1}}</td>
                                    <td>{{area.areaName}}</td>
                                    <td>
                                        <a href="#" ng-click="onEdit(area)" class="btn btn-primary btn-sm"
                                            title="Edit"><i class="far fa-edit"></i></a>
                                        <a href="#" ng-click="onDelete(area)" class="btn btn-danger btn-sm"
                                            title="Delete"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>